---
import Card from "@elements/Card.astro";

const images = await Astro.glob("../../images/imgCard/*").then((files) => {
  return files.map((file) => file.default);
});

const subtitleCard = [
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
  {
    weight: 40,
    square: "28,3 м2",
    size: "12,04 х 2,35 х 2,7",
    capacity: "76,4 м3",
    img: images[0],
    alt: "container-40f",
  },
];
---

<section class="section-storage">
  <div class="container">
    <h2 class="section-title section-storage__title">Варианты хранения</h2>
    <div class="section-storage__wrapper">
      {
        subtitleCard.map((el) => {
          return (
            <Card
              weight={el.weight}
              square={el.square}
              size={el.size}
              capacity={el.capacity}
              img={el.img}
              alt={el.alt}
            />
          );
        })
      }

      <div class="section-storage__item-last">
        <div class="section-storage__item-last-wrapper">
          <h3>Не знаете какой контейнер вам нужен?</h3>
          <p>Ответьте на 5 вопросов и мы подберем нужный размер</p>
          <a href="#" class="select-stock-button">Подобрать склад</a>
        </div>
      </div>
    </div>
  </div>
</section>
